<div class="alert alert-warning" role="alert" *ngIf="!transacoes.length">
    There are no results
</div>

<table class="table table-striped table-sm" *ngIf="transacoes.length">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Transação</th>
        <th scope="col">Valor</th>
        <th scope="col">Tipo</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead>
    <tbody>
  
      <tr *ngFor="let transacao of transacoes">
        <td>{{ transacao.movementDate }}</td>
        <td>{{ transacao.name }}</td>
        <td>{{ transacao.value }}</td>
        <td>{{ transacao.type }}</td>
        <td>{{ transacao.category.name }}</td>
      </tr>
    </tbody>
  </table>