<form class="form-inline" id="form-movement-filter">
  <i aria-hidden="true" class="fa fa-search mr-1"></i>
  <input type="hidden" name="accountId" value="">
  <label class="sr-only" for="datepicker">Dia</label>
  <input type="text" name="period" id="datepicker" class="form-control mb-2 mr-sm-2" placeholder="Transação"
    autocomplete="off" required="required"
    (keyup)="debounce.next($event.target.value)">
</form>
{{filter}}

<app-transacoes [transacoes]="transacoes | filterByName: filter"></app-transacoes>
<app-load-button 
    (click)="load()" 
    [hasMore]="hasMore">
  </app-load-button>